<!DOCTYPE html>
<html>
<head>
	<title>Dolce Pizza - Sales</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href=".\css\style.css">
	<!-- jQuery library -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

	<!-- Latest compiled JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

	<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>
<div class="container">
	<div class="page-header">
		<div class="row">
			<a href="./"><img class="col-md-3" src="./images/logo.png" alt="logo"></a> 
			<div class="col-md-7">
				<ul  class="list-inline">	
					<li><a class="list-inline-item" href="/">Home</a></li>
					<li><a class="list-inline-item" href="/menu">Menu</a></li>
					<li><a class="list-inline-item" href="/sales">Sales</a></li>
					<li><a class="list-inline-item" href="/signup">Sign Up</a></li>
				</ul>
			</div>
			<div class="col-md-2">
				<a href="./cart"><img class="cart" src="./images/cart.png" alt="cart" style="width:60px;height:60px;"><span class="badge" id="numItem">0</span></a>
			</div>
		</div>
	</div>
		<div class="clear"></div>

	<div class="dateInput">
		<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-3">
				<h2>Select Date: </h2>
			</div>
			<div class="col-md-8"></div>
		</div>
		<form action="/sales" method="post">
		<fieldset>
			<div class="row no-gutter">
			<div class="col-md-1"></div>
			<div class="col-md-3">
			<input type="date" class="btn-block input-lg" name="dateSelect" id="dateSelect" value="{{date}}">
			</div>
			<div class="col-md-2">
				<input type="submit" name="submitDate" class="btn btn-lg btn-block btn-primary">

			</div>
			<div class="col-md-6"></div>		
			</div><br>
		</fieldset>
		</form>
	</div>
<br>
	<div class="content">

	<table rules="rows" width="100%">
  	<div class="row">
  	<tr>
  		<div class="col-md-3">
  			<th>Index: </th>
  		</div>
  		<div class="col-md-3">
    		<th>Pepperonis Sold:</th>
    	</div>
    	<div class="col-md-3">
    		<th>Chicken Alfredos Sold:</th>
    	</div>
    	<div class="col-md-3">
			<th>All Toppings Sold:</th>
    	</div>
  	</tr>
  	</div>
  	{{#each items}}
  	<div class="row">
  	<tr>
    	<div class="col-md-3">
  		<td>{{inc @index}}</td>
  		</div>
    	<div class="col-md-3">
    	<td>{{this.pepperoni}}</td>
    	</div>
    	<div class="col-md-3">

    	<td>{{this.chicken}}</td>
    	</div>
    	<div class="col-md-3">

    	<td>{{this.everything}}</td>
    	</div>
  	</tr>
  	</div>
  	{{/each}}
	</table>
	</div>
	<br><br>

		<hr>
	<footer>
		<img class="logo-footer" src="./images/logo.png" alt="logo" height="100" width="150">
		<a class="list-inline-item" href="./service.html">Customer Service</a>
		<a class="list-inline-item" href="./account.html">Account</a>
		<a class="list-inline-item" href="./special.html">Special</a>
		<a class="list-inline-item" href="./about.html">About</a>
		<div class="row">
			<div class="col-md-4">
				<p>Dolce Pizza was founded in 1967 by Nick Emanuelo and his son, Nick Emanuelo Jr. Together they began a pizza empire that has survived the ages through dedication to their pizza craft.</p>
			</div>
			<div class="col-md-4">
				<p>Nick Emanuelo Sr. prefers traditional Italian pizza, with fresh basil, olive oil, and mozzerella. Don't forget that he's Italian!</p>
			</div>
			<div class="col-md-4">
				<p>Nick Emanuelo Jr. loves to experiment with his pizza, comibining the best of both American and Italian culture, testing the boundarie- between culture, cuisine, and art</p>
			</div>
		</div>	</footer>
</div>
</body>
</html>